declarations.json
.idea
env/
data_exploration/declarations.json
data_exploration/affilated.json
data_exploration/affilated_corrected.json
data_exploration/downloads/**
**/.ipynb_checkpoints/**
**/*.csv#
