body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ebebeb;
}

#main_h {
    margin-left: 20px;
}

.row {
    display: flex;
}

.main {
    flex: 70%;
    background-color: rgb(245, 245, 245);
    margin: 50px 400px 0 400px;
    padding: 20px 20px 50px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 10px 45px -10px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 10px 45px -10px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 10px 45px -10px rgba(0, 0, 0, 0.53);
}

.main::after {
    content: "";
    background: url(photo_2019-10-26_12-54-21.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.side {
    flex: 30%;
    padding: 20px;
    margin-top: 60px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    text-transform: none;
}

.btn_choose {
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #72C74C 0%, #4CAF50 100%);
}

.btn:hover {
    background-color: #4ca153;
}

.btn:active {
    background-color: #4c9a4d;
}

.btn_disabled {
    background-color: darkgrey;
}

.btn_disabled:hover {
    background-color: darkgrey;
}

.btn_disabled:active {
    background-color: darkgrey;
}

#work_button2 {
    display: none;
    margin-top: 10px;
}

.btn_small {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    margin-left: 10px;
}

.btn_small:hover {
    background-color: #4ca153;
}

.btn_small:active {
    background-color: #4c9a4d;
}

.input_small {
    margin-left: 10px;
    width: 100px;
}

#area table {
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

#area th, #area td {
    border: 1px solid #a5a5a5;
    background-color: lightgrey;

}

.form_div {
    margin-top: 5px;
}

.text_div {
    width: 80%;
    margin-top: 25px;
    text-align: justify;
}

.test_index_div {
    margin-bottom: 40px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
}

.dropdown-content option:hover {
    background-color: #f1f1f1
}

.dropbtn:hover {
    background-color: #42a045;
}

.dropbtn:active {
    background-color: #3e8e41;
    border-radius: 5px 5px 0 0;
}