body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    background-color: #ebebeb;
}

#main_h {
    margin-left: 20px;
}

.row {
  margin-top: 50px;
  display: flex;
}

.main {
    flex: 70%;
    background-color: rgb(245, 245, 245);
    margin: 50px 250px 0 250px;
    padding: 20px 20px 50px;
    border-radius: 10px;


    -webkit-box-shadow: 0px 10px 45px -10px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 10px 45px -10px rgba(0,0,0,0.53);
    box-shadow: 0px 10px 45px -10px rgba(0,0,0,0.53);
}

.main::after {
  content: "";
  background: url(/photo_2019-10-26_12-54-21.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
    filter: blur(5px);
}

.side {
    flex: 30%;
    padding: 20px;
    margin-top: 60px;
    text-align: left;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.btn_choose {
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #72C74C 0%, #4CAF50 100%);
}

.btn:hover {
    background-color: #4ca153;
}

.btn:active {
    background-color: #4c9a4d;
}

.btn_disabled {
    background-color: darkgrey;
}

.btn_disabled:hover {
    background-color: darkgrey;
}

.btn_disabled:active {
    background-color: darkgrey;
}

#work_button2 {
    display: none;
    margin-top: 10px;
}

.btn_small {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
}

.btn_small:hover {
    background-color: #4ca153;
}

.btn_small:active {
    background-color: #4c9a4d;
}

.input_small {
    margin-left: 10px;
    width: 100px;
}

#area table {
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

#area th, #area td {
    border: 1px solid white;
    background-color: lightgrey;

}

.form_div {
    margin-top: 5px;
}

.text_div {
    width: 80%;
    margin-top: 25px;
    text-align: justify;
}

.left {
    flex: 50%;
    line-height: 0%;
}

.coin {
    background: lightgray;
    display: inline-block;
}

.activated {
    background: #4CAF50;
    animation-duration: 1s;
    animation-name: bounceIn;
}	

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
 	transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


#time {
    margin-top: 30px;
}

#work_periods, #current_date, #total_earned {
    margin: 40px;
}

#photo {
    text-align: center;
}

.avatar {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}